
 <div class="container">
   <div class="card">
    <div class="card-content " style="
    padding-top: 2px;
    padding-bottom: 2px;
">
     <div>
    <h4 class="center-align">Nueva campaña</h4>
  </div>
    </div>
  </div>
    </div>



<%= render 'form' %>


